dt {
    float: left;
    width: 300px;
}

dd {
    overflow: hidden;
    margin: 0 0 5px 0;
    width: 20px;
    text-indent: -999px;
    background: #ff0000;
}

dd.open {
    background: #00ff00;
}
