{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO OMNIBUS</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>

<div>
    <div>

        <button onclick="refreshList();">Refresh da list</button>
        <h6>Double-click on a todo to edit it</h6>

        <div>
            <form onsubmit="return false;">
                <input id="newTodo" type="text" onsubmit="addTodo();"/>
                <button onclick="addTodo()" type="button">Add!</button>
            </form>
        </div>

        {% if todos %}
            <div>
                <ol>
                    {% for todo in todos %}
                        <li>
                            <h4 ondblclick="editTodo({{ todo.id }});">{{ todo.label }}</h4>
                            <label for="done{{ todo.id }}">Done</label>
                            <input id="done{{ todo.id }}" type="checkbox"/>
                            <button>×</button>
                        </li>
                    {% endfor %}
                </ol>
            </div>

        {% else %}
            <p>There is no todo yet! (Or maybe there's a problem)</p>
        {% endif %}

    </div>

    <dl>
        <dt>Connected</dt>
        <dd class="state connection">No</dd>
        <dt>Identified</dt>
        <dd class="state identification">No</dd>
        <dt>Channel todos subscribed</dt>
        <dd class="state channelTodos">No</dd>
    </dl>

</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "omnibus/omnibus.js" %}"></script>
<script type="text/javascript">
    "use strict";

    var
    // Functions
            addTodo,
            toggleTodoDone,
            editTodo,
            refreshList,
    // Attributes
            todos = {},
            newTodo,
            transport = WebSocket,
            endpoint = "{{ OMNIBUS_ENDPOINT }}",
            options = {
                authToken: "{{ OMNIBUS_AUTH_TOKEN }}",
                autoReconnect: true,
                autoReconnectTimeout: 1000
            },
            connection = new Omnibus(transport, endpoint, options),
            channelTodos = connection.openChannel("channelTodos");

    connection.
            on(Omnibus.events.CONNECTION_CONNECTED, function (event) {
                $(".connection").addClass("open").text("Yes");
            })
            .on(Omnibus.events.CONNECTION_AUTHENTICATED, function (event) {
                $(".identification").addClass("open").text("Yes");
            }
    );

    channelTodos
            .on(Omnibus.events.CHANNEL_SUBSCRIBED, function (event) {
                $(".channelTodos").addClass("open").text("Yes")
            })
            .on("*", function (event) {
                var // Attributes
                        todo = todos[event.data.sender];

                if (todo === undefined) {
                    todo = $("<div class=\"todo\">TEST TODO</div>").appendTo($("body"));
                    todos[event.data.sender] = todo;
                }

                todo.css({
                    top: event.data.payload.top,
                    left: event.data.payload.left
                });
            })
            .on("submit", function (event) {
                alert('yolo');
            })
            .on("disconnect", function (event) {
                var // Attributes
                        todo = todos[event.data.sender];

                if(todo !== undefined) {
                    todo.remove();
                    todos[event.data.sender] = undefined;
                    delete (todos[event.data.sender]);
                }
            }
    );

    // Disabling double click selection, for prevent selection when editing a todo_
    document.ondblclick = function() {
        if (window.getSelection)
            window.getSelection().removeAllRanges();
        else if (document.selection)
            document.selection.empty();
    };

    addTodo = function () {

    };

    toggleTodoDone = function (todo) {
        todo.done = !todo.done;
    };

    editTodo = function (todo) {

    };

    refreshList = function () {

    };

</script>
</body>
</html>
